body {
    font: 14pt/1.25 sans-serif !important;
    width:40em;
    padding: 2em;
}
figure {
    max-width: 60%;
    margin: 0 auto;
}
figure img {
    max-width: 100%;
}
video {
    max-width: 60%;
    margin: 0 auto;
}
video img {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
}
